Django~=4.0.2
djangorestframework~=3.13.1
Pillow~=9.0.1
django-phonenumber-field~=6.1.0
drf-yasg
djangorestframework-simplejwt #todo delete
# psycopg2
psycopg2-binary
django-cors-headers
django-phonenumber-field[phonenumbers]
django-filter
python-dateutil
graphene-django
django_phonenumbers
django-graphql-jwt
django-rest-passwordreset